##############################
## Java
##############################
*.class
*.jar

##############################
## Maven
##############################
target/
.mvn/wrapper/maven-wrapper.jar

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml

##############################
## Eclipse
##############################
*.classpath
*.project
*.prefs